@import url('https://fonts.googleapis.com/css2?family=Muli:wght@300&display=swap');
body {
    background-color: black !important;
	color: white !important;
	overflow-x: hidden !important;
}
.header {
	text-align: center;
	font-size: 2em;
	font-family: 'Krona One', sans-serif;;
	color: #FFFFFF;
	margin:20px;
}
.box {
	min-height: 150px;
	align-content: center;
	align-items: center;
	margin: auto;
	padding: 10px;
}
input[type=text],input[type=text]:focus {
	padding: 8px 10px;
	background-color: black;
	width:auto;
	color: #0091ea;
	border: 1.5px solid #0091ea;
	border-radius: 10px 0 0 10px;
	-webkit-border-radius:10px 0 0 10px;
	-moz-border-radius: 10px 0 0 10px;
	outline: none;
}
button {
	padding: 8px 10px;
	background-color: #0091ea;
	color: white;
	border: 1.5px solid #0091ea;
	border-radius: 0 10px 10px 0;
	-webkit-border-radius:0 10px 10px 0;
	-moz-border-radius: 0 10px 10px 0;
	outline: none;
}
img {
	margin:25px;
}
#result {
	border: 1.5px solid #0091ea;
	margin: 10px;
	padding: 3px 5px;
	border-radius: 6px;
}
td {
	margin: 3px 7px;
	padding: 4px;
}
.error {
	text-align: center;
	font-size:1.5em;
	border:1.5px solid #0091ea;
	padding:10px;
	margin:20px;
	color:red;
	border-radius: 6px;
}
.api {
	background-color: #333;
	margin:0;
	padding:5px 25px 0px 20px;
	vertical-align: middle;
	color:#DDD;
	font-family: 'Muli', sans-serif;
	border-top:1px solid #0091ea;
}
.api label {
	font-weight: bold;
	color: #0091ea;
}
.github {
	position:fixed;
	bottom:5px;
	right:5px;
}
.info {
	text-align: center;
	border-top:1px solid #0091ea;
	margin: 0 15px;
	padding-top: 15px
}